<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Mastermind</title>
<link rel="stylesheet" href="testVue.css" type="text/css" />
</head>
<body>
<div class="fenetre_jeu">
  <div class="fenetre_auth">
    <div class="auth">
      <form method="post" action="../controler/authCtrl.php">
          <p class="texte">Pseudo</p>
          <input type="text" name="pseudo"/>
          <br />
          <br />
          <p class="texte">Mot de passe</p>
          <input type="password" name="psw"/>
          <br />
          <br />
          <input type="submit" name="Valider" value="ENVOYER"/>
      </form>
    </div>
  </div>
</div>
</body>
</html>
