html {
  margin : 0;
  padding: 0;
  width: 100%;
  height : 100%;
}

body{
  margin :0;
  padding :0;
  width:100%;
  height:100%;
  background-color: #888;
}

input[type=submit]{
  color: white;
  background-color: #181;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;

}

input[type=submit]:hover{
  color: white;
  background-color: #1A1;
  font-weight: bold;
  border:none;
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/*
input[type=radio] {
  visibility: hidden;
  position: relative;

  margin-left: 5px;
  width: 100%;
  height: 100%;
}

input[type=radio]:before {
  content: "";
  visibility: visible;
  position: absolute;

  border-radius: 50%;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
*/
table{
  margin-left:12%;
  margin-top: 1%;
  width: 70%;
  height: 70%;
  padding:0;
}

.affichage table{
  height: 90%;
  width: 90%;
}

tr{
  height:90px;
}

tr,input[type=radio]:first-child{
  margin-left:20%;
}

.fenetre_jeu {
  padding:0;
  width:70%;
  height: 85%;
  margin-left: 15%;
  margin-top: 3%;
  display: flex;
}

.fenetre_joueur{
  width:50%;
  height:100%;
  margin:0;
  padding: 0;
  background-color: #654;
  float: left;
  text-align: center;
}

.affichage{
  width:50%;
  height:100%;
  margin:0;
  background-color: #785;
  float: right;
}

.affichage tr{
  height:auto;
  width: auto;
}

.circle{
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.check{
  width: 12px;
  height: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border : 1px solid black;
}

input[type="radio"].couleur1 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur1 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #FF0;
}

input[type="radio"].couleur2 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur2 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #0F0;
}

input[type="radio"].couleur3 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur3 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #00F;
}

input[type="radio"].couleur4 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur4 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #FFA500;
}

input[type="radio"].couleur5 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur5 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #800;
}

input[type="radio"].couleur6 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur6 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #800080;
}

input[type="radio"].couleur7 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur7 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #F0F;
}

input[type="radio"].couleur8 + label{
  padding : 4px 0 0 24px;
}

input[type="radio"].couleur8 + label::before{
  display: inline-block;
width: 20px;
height: 20px;
top: 0;
left: 0;
content: " ";
vertical-align: middle;
  border: 10px solid #F00;
}
/*

input[type="radio"].couleur1::before{
  border: 10px solid #FF0;
}

input[type="radio"].couleur2::before{
  border: 10px solid #0F0;
}

input[type="radio"].couleur3::before{
  border: 10px solid #00F;
}

input[type="radio"].couleur4::before{
  border: 10px solid #FFA500;
}

input[type="radio"].couleur5::before{
  border: 10px solid #800;
}

input[type="radio"].couleur6::before{
  border: 10px solid #800080;
}

input[type="radio"].couleur7::before{
  border: 10px solid #F0F;
}

input[type="radio"].couleur8::before{
  border: 10px solid #F00;
}

*/

input[type="radio"].couleur1:checked + label::before{
  background-color: #FF0;
}
/*
input[type="radio"].couleur1:checked:before{
  background-color: #FF0;
}*/

input[type="radio"].couleur2:checked + label::before{
  background-color: #0F0;
}

input[type="radio"].couleur3:checked + label::before{
  background-color: #00F;
}

input[type="radio"].couleur4:checked + label::before{
  background-color: #FFA500;
}

input[type="radio"].couleur5:checked + label::before{
  background-color: #800;
}

input[type="radio"].couleur6:checked + label::before{
  background-color: #800080;
}

input[type="radio"].couleur7:checked + label::before{
  background-color: #F0F;
}

input[type="radio"].couleur8:checked + label::before{
  background-color: #F00;
}
